:host {
    display: block;
    width: 50%;
}

.block-editor-container {
    border: 1px solid #e5e7eb;
    border-radius: 0.75rem; /* rounded-xl */
    padding: 0.5rem; /* p-3 horizontal, p-4 total */
    background: white;
    min-height: 180px; 
    display: flex;
    flex-direction: column;

    &.readonly {
        background-color: #f9fafb;
        /* bg-gray-50 */
        border-color: #d1d5db;
        /* border-gray-300 */
        pointer-events: none;
    }
}

/* SOTA 2025: EditorJS Alignment Overrides */
::ng-deep {
    .codex-editor__redactor {
        padding-bottom: 50% !important;
        margin-right: 0 !important;
        padding-left: 35px !important;
    }
    .codex-editor {
        width: 50%;
        text-align: left;
    }

    .ce-block {
        width: 100%;
    }

    .ce-paragraph {
        padding-left: 0 !important;
        margin-left: 0 !important;
        line-height: 1.5;
        text-align: left;
    }
    
    .ce-block__content,
    .ce-toolbar__content {
        max-width: 100% !important;
        margin-left: 0 !important;
    }

    .ce-toolbar__actions {
        left: -5px !important; /* Move settings icon out to the left */
        background: white;
        border-radius: 4px;
        transform: none !important;
    }

    .codex-editor--empty .codex-editor__redactor {
        padding-bottom: 10px !important;
    }
}

.editorjs {
    min-height: 150px;
    width: 100%;
}