:host {
  display: block;
  min-height: 100%;
  --editor-sidebar-width: 320px;
  --editor-nav-padding: 1.5rem;
}

.editor-layout-tabs {
  padding-inline: var(--editor-nav-padding);
}

@media (min-width: 1024px) {
  .editor-layout-tabs--aligned {
    padding-left: calc(var(--editor-sidebar-width) + var(--editor-nav-padding));
  }
}
